﻿@using SpearOne.Examples.AspNetCore.Nancy.Angular2.Service
@using SpearOne.Examples.AspNetCore.Nancy.Angular2.Service.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase

<link rel="stylesheet" href="@Url.Content("~/Content/Css/Routes.css")"/>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="page-routes" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Routes</title>
    <link rel="stylesheet" href='@Url.Content("~/content/main.css")' type="text/css" media="screen" />
</head>
<body>
    <h1>Routes</h1>
    <b>@typeof(Program).Namespace</b>
    <ul>
        @foreach (var module in @Model)
        {
            <li>
                <b>@module.Key.ToString().Replace(typeof(RootModule).Namespace + ".", "")</b>
                <ul>
                    @foreach (var route in @module.Value)
                    {
                        <li><a href='@Url.Content("~" + route.Item2.Path)'>@route.Item2.Path</a></li>
                    }
                </ul>
            </li>
        }
    </ul>
</body>
</html>