@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script src="~/Content/Js/jquery-2.2.4.js"></script>
<script src="~/Content/Js/jquery.signalR-2.2.1.js"></script>
@*<script src="~/Content/Js/signalr-client.js"></script>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
