﻿.page-routes {
    body {
        background: #3b3e48;
        color: #D5D9E1;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        a {
            color: #D5D9E1;

            :visited {
                color: #D5D9E1;
            }
        }
    }
}
